body {
  background-image: url("images/home-background.jpg");
  background-size: cover;
}

.contact {
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 5px 10px black;
  font-size: 1.1em;
  font-weight: 600;
  margin: 150px auto 400px;
  min-width: 900px;
  padding-bottom: 40px;
  width: 75%;
}


.heading {
  display: inline-block;
}

hr {
  border: 2px solid black;
  margin: 0 15px 15px;
  width: 20px;
}

h1.heading {
  color: black;
  font-size: 3.8em;
}

.contact-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-text ul {
  background-image: linear-gradient(0deg, hsla(360, 100%, 100%, 0.6), hsla(360, 100%, 100%, 0.6)), url("images/leaf1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  display: inline-block;
  margin-top: 30px;
  padding: 0;
  width: 400px;
}

.contact-text li {
  display: block;
  margin-bottom: 20px;
}


.contact-text .studio {
  margin-bottom: 4px;
}

.note {
  font-size: 0.8em;
  font-style: italic;
}

.social {
  align-content: start;
  background-image: linear-gradient(0deg, hsla(360, 100%, 100%, 0.6), hsla(360, 100%, 100%, 0.6)), url("images/leaf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  max-width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.social p {
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 65px;
}

.social img {
  margin: 5px 12px 0;
  width: 70px;
}
