/* Page Styles */

html {
  font-family: 'Fanwood Text', Serif;
  font-size: 18px;
}

/* Header Styles */

h1 {
  font-family: 'Shrikhand', Cursive;
  font-size: 48px;
}

/* Main Styles */
/* Services Styles */
/* Team Styles */
/* Contact Styles */
/* Footer Styles */